h1 {
  text-align: center;
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: red;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul.recipes {
  list-style-type: square;
}
ul.music {
  list-style-type: square;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tinyThing {
  font-size: 2px;
  font-weight: bold;
}

.music-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
